<!DOCTYPE html> 
<html> 
  <head> 
    <title><%= title %> - MyBlog</title> 
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' /> 
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.1.0.js"></script> 
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/Utils.js"></script>
    <script src="/javascripts/myUI.js"></script>
    <script src="/javascripts/data.js"></script>
    <script src="/javascripts/blogMain.js"></script>
  </head> 
  <body> 
    <div id="container" class="container">
      404
    </div>
  </body>
</html>