      <!-- 日志内容-->
<div class="row">
   <div class="span3">
     <div class="caption">
     	   <h4><b>博客相册</b><input type="button" id="addPhoto" value="上传图片"></h4>
     	   <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img1.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img2.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img3.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img4.jpg" alt="...">
              </a>
            </div>
     	   </div>
     	   <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img5.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img6.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img7.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img8.jpg" alt="...">
              </a>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img9.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img10.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img11.jpg" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
              <img src="/images/img12.jpg" alt="...">
              </a>
            </div>
         </div>
     </div>
   </div>
</div>