<div class="row">
  <div class="col-xs-12 col-lg-4">
    <h4><b>所有音乐</b></h4>
    <div class="info">
      <ul>
        <li>默认专辑(3)</li>
        <li>个性列表</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8">
      <!-- 日志内容-->
      <div class="row">
         <div class="span3">
           <div class="caption">
           	   <h4><b>日志</b></h4>
           	   <div class="dailyinfo">
           	   	  <a href="#"><span>2011年02月19日</span></a>
           	   	  <p>
           	   	  	我艹你妈我艹你妈我艹你妈、、、、<br/>
           	   	  	你他妈以为你是谁啊---
           	   	  </p>
           	   	  <a href="#">阅读全文</a>
           	   </div>
           	   <div class="dailyinfo">
           	   	<a href="#"><span>2011年02月19日</span></a>
           	   	  <p>
           	   	  	我艹你妈我艹你妈我艹你妈、、、、<br/>
           	   	  	你他妈以为你是谁啊---
           	   	  </p>
           	   	  <a href="#">阅读全文>></a>
           	   </div>
           	   <div class="dailyinfo">
           	   	<a href="#"><span>2011年02月19日</span></a>
           	   	  <p>
           	   	  	我艹你妈我艹你妈我艹你妈、、、、<br/>
           	   	  	你他妈以为你是谁啊---
           	   	  </p>
           	   	  <a href="#">阅读全文>></a>
           	   </div>
           	   <div class="dailyinfo">
           	   	<a href="#"><span>2011年02月19日</span></a>
           	   	  <p>
           	   	  	我艹你妈我艹你妈我艹你妈、、、、<br/>
           	   	  	你他妈以为你是谁啊---
           	   	  </p>
           	   	  <a href="#">阅读全文>></a>
           	   </div>
           	   <div class="dailyinfo">
           	   	<a href="#"><span>2011年02月19日</span></a>
           	   	  <p>
           	   	  	我艹你妈我艹你妈我艹你妈、、、、<br/>
           	   	  	你他妈以为你是谁啊---
           	   	  </p>
           	   	  <a href="#">阅读全文>></a>
           	   </div>
           </div>
         </div>
      </div>
  </div>
</div>