<div class="row">
  <div class="col-xs-12 col-lg-4">
    <h4><b>王博❥(┱ ┲)的个人资料</b></h4>
    <img src="/images/wb.jpg" />
    <br/>
    <div class="info">
      <ul>
        <li><a href="javascript:void(0)">发消息</a>&nbsp;<a href="javascript:void(0)">写留言</a></li>
        <li><a href="javascript:void(0)">加博友</a>&nbsp;<a href="javascript:void(0)">关注她</a></li>
        <li></li>
      </ul>
      <br/>
      <br/>
      <div>
      	 <ul>
            <li>注册时间 2011-01-31</li>
            <li>最近更新 2011-02-20 22:29</li>
            <li>最后登录 2011-02-24 12:21</li> 
         </ul>
      </div>
    </div>
    <div>
         <ul>
            <li>个人资料</li>
            <li>留言</li>
            <li>评论</li> 
            <li>最近访客</li> 
         </ul>
      </div>
  </div>
  <div class="col-xs-12 col-lg-8">
      <!-- 日志内容-->
      <div class="row">
         <div class="span3">
           <div class="caption photo">
           	   <h4><b>王博❥(┱ ┲)</b></h4>
               <span>博客等级 2   积分 65</span>
           </div>
           <div class="caption">
           	   <h4><b>日志</b></h4>
           	   <div class="dailyinfo">
           	   	  <span>基本资料</span>
                  <table>
                     <tr><td class="name">昵称：</td><td class="value">王小博</td></tr>
                     <tr><td>真实姓名：</td><td>王┱ ┲</td></tr>
                     <tr><td>性别：</td><td>女</td></tr>
                     <tr><td>生日：</td><td>04-01 (农历三月初六)白羊座午马</td></tr>
                     <tr><td>故乡：</td><td>黑龙江省 哈尔滨市 尚志市</td></tr>
                     <tr><td>现居住地：</td><td>黑龙江省 哈尔滨市 尚志市 亚布力镇</td></tr>
                     <tr><td>自我介绍：</td><td>我就是我,如果受不了,就别走进我的世界。我不温柔、我脾气不好、 我容易生气、我容易吃醋、我容易心痛、我容易胡思乱想、我很任性、我生气时不想说话、我开心了会一直傻笑、我受委屈会放在心里、我在乎了就想被你知道```[</td></tr>
                     <tr><td>近期心愿：</td><td>我爱的?爱我的?幸福?快乐?永远*.:??*?‘???.?.:</td></tr>
                  </table>
           	   </div>
           	   <div class="dailyinfo">
           	   	  <span>个人信息</span>
                  <table>
                     <tr><td>交友目的：</td><td>结交朋友</td></tr>
                     <tr><td>婚姻状况：</td><td>单身</td></tr>
                     <tr><td>学历：</td><td>大专</td></tr>
                     <tr><td>职业：</td><td>在校学生-在校学生</td></tr>
                     <tr><td>血型：</td><td>O型</td></tr>
                     <tr><td>体型：</td><td>残缺美</td></tr>
                     <tr><td>性格特点：</td><td>内向 , 单纯可爱 , 外向</td></tr>
                     <tr><td>兴趣爱好：</td><td> 时尚 , 音乐 , 旅游 , 电影 , 美食 , 艺术 , 购物 , 美容 , 休闲娱乐 , 汽车 , 流行服饰 , 交友</td></tr>
                     <tr><td>喜欢的运动：</td><td>滑雪 , 游泳</td></tr>
                     <tr><td>喜欢的音乐：</td><td>流行音乐 , Hip Hop , 古典音乐</td></tr>
                     <tr><td>喜欢的电影：</td><td>悬疑片</td></tr>
                  </table>
           	   </div>
           	   <div class="dailyinfo">
           	   	  <span>个人经历</span>
                  <table>
                  </table>
           	   </div>
               <div class="dailyinfo">
                  <span>联系方式</span>
                  <table>
                     <tr><td>QQ：</td><td>461742144</td></tr>
                     <tr><td>移动电话：</td><td>15124582177</td></tr>
                     <tr><td>邮政编码：</td><td>150631</td></tr>
                  </table>
               </div>
           </div>
         </div>
      </div>
  </div>
</div>